.pinpoint {
    width:90%;
    padding-left:10px;
    padding-right:10px;
    font-size:0.9em;

    background: #eee;
    display: inline-block;

    border: 1px solid #d6d6d6;

    opacity:1;
    transition: all .5s ease;
    z-index:1;
}

.pinpoint > .pinpoint_text {
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.pinpoint.hover, .pinpoint.click_hover{
    border-radius: 2px;
    height:auto;
    z-index:100;

    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    padding:10px;

    margin-top:10px;
    margin-bottom:10px;
}

.pinpoint > .pinpoint_input {
    border:1px solid #ddd;
    height:10em;
    width:100%;
    padding:5px;
    resize:none;
}

.pinpoint > input[type="button"] {
    margin-top:10px;
    line-height:12px;
    height:32px;
    text-align:center;
    color:#fff;
    border:none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width:100px;
}

.pinpoint > .pinpoint_save {
    background-color:#0f9d58;
    float: right;
}

.pinpoint > .pinpoint_cancel {
    background-color:#BD4444;
}

.pinpoint > input[type="button"][disabled] {
    background-color:#C5C5C5;
}

.pinpoint > label {
    font-size:0.8em;
}

.pinpoint > .pinpoint_text:hover {
    white-space:normal;
    
}

.pinpoint > .pinpoint_close, .pinpoint > .pinpoint_save, .pinpoint > .pinpoint_input, .pinpoint > .pinpoint_label, .pinpoint > .pinpoint_cancel {
    display:none;
}

.pinpoint.click_hover > .pinpoint_save,  .pinpoint.click_hover > .pinpoint_close, .pinpoint.click_hover > .pinpoint_input, .pinpoint.click_hover > .pinpoint_label, .pinpoint.click_hover > .pinpoint_cancel {
    display:block;
}

.pinpoint.hover > .pinpoint_close,
.pinpoint.click_hover > .pinpoint_close {
    color: grey;
    float: right;
    cursor: pointer;
    font-size:0.6em;
}

#pinpointContainer {
    position:fixed;
    top:0px;
    right:0px;
    width:20%;
    height:100%;
    overflow-y:scroll;
}

.content {
    width: 80%;
}
